<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DbConnectionString" connectionString="Data Source=REDONBERISHA\SQLEXPRESS;Initial Catalog=LibraryManagement;Integrated Security=True"
   providerName="System.Data.SqlClinet" />
  <add name="LibraryForms.Properties.Settings.LibraryManagementConnectionString"
   connectionString="Data Source=REDONBERISHA\SQLEXPRESS;Initial Catalog=LibraryManagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>